body{
background: url(../imagenes/FondoUCA.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center;
min-width: 100%;
min-height: 100%;
}

.docencia
{

	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
    color: black;
}
p {
    color: #c9c9c9;
}

#env
{
	background-color: #d35400; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin-left: 45%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#env:hover
{
	background-color: #e67e22;
}

.centrado{
	display: flex;
	justify-content: center;
	align-items: center;
}

