/* Author: José Manuel Morales García */

/*
#############
Empieza BODY
#############
*/
body{
background: url(../imagenes/FondoUCA.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center;
min-width: 100%;
min-height: 100%;
}

/*
########################
Empieza Table y Headers
########################
*/
.docencia
{

	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
    color: black;
}
p {
    color: #c9c9c9;
}
.centrado{
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}

